.wpmr-row-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.wpmr-row a {
    color: inherit;
}

.wpmr-row-thumbnail {
    float: left;
    margin: 20px;
}

.wpmr-row-text-wrapper {
    margin-left: 230px;
}

.wpmr-row {
    margin-bottom: 10px;
    padding: 10px;
    min-height: 15em;
}

.clear {
    clear: both;
}

