.wpm_obj-image {
	cursor: pointer;
}

.components-modal__frame.wpm-object-post-image-modal.wpm-object-post-image-modal {
	width: 70vw;
	max-width: 80vh !important;
	height: auto;
	max-height: 100%;

	a {
		word-wrap: break-word;
	}

	&:focus {
		outline-style: none;
	}

	div:focus {
		outline-style: none;
	}

	overflow-x: hidden;

	h1, h2, h3, h4 {
		&:before, &:after {
			all: initial;
			content: none;
		}
	}

	.image-modal-content-wrapper {
		height: calc( 100% - 84px );

		.image-modal-content {
			position: relative;

			.image-modal-image {
				position: relative;

				img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: contain;
					z-index: 0;
				}
		
				&:after {
					content: '';
					display: block;
					padding-bottom: 100%;
					background-color: white;
				}
			}

			.image-modal-button {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;
				background-color: white;
		
				&.inc {
					right: 15px;
				}
		
				&.dec {
					left: 15px;
				}
			}

			.image-modal-image-link {
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}

			.image-modal-caption {
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				font-style: italic;
			}

			.image-modal-description {
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}
		}
	}
}