.image-selector-container {
	display:flex;
	align-items:center;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;

	.selector-button {
		position: absolute;
	}

	.right-arrow {
		right: 0;
	}
}
