.wpm-search-box {
	padding: 5px;

	.toggle-control {
		margin-bottom: 5px;
	}
	.bottom-controls {
		margin-top: 5px;
		.cancel-button {
			float: right;
		}
	}

	.results-list {
		div {
			width: 100%;
			padding: 5px 0px 5px 0px;
		}
		.search-result-button {
			display: block;
			width: 100%;
			height: auto;
			text-align: left;
			cursor: pointer;
		}
		.search-result-button:focus, .search-result-button:hover {
			background-color: transparent !important;
		}
		li {
			margin: 0;
		}
		li:nth-child( odd ) {
			background-color: #f3f5f6;
		}
		li:nth-child( even ) {
			background-color: #fdfdfd;
		}
		li.selected {
			background-color: #0da0d1;
		}
		.search-result-title {
			font-weight: bold;
		}
	}
}