
.alignleft, .alignright {
	max-width: 50%;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.info-outer-div {
	border-style: solid;
	padding: 5px;
	
	ul {
		list-style-type: none;
		text-align: left;

		.field-name {
			font-weight: bold;
		}
	}

	img {
		margin: 5px;
	}

	h2, h3, h4, h5, h6, p {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		text-align: left;
	}

	.img-info-right {
		float: right;
	}
	
	.img-info-left {
		float: left;
	}
	
	.img-info-center {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	.info-outer-div {
		border-style: solid;
		padding: 5px;
	}

	.object-link, .object-link:hover {
		text-decoration: none;
		color: inherit;
	}
}

