@import '../components/object-modal.scss';

.museum-collection-block {
	.collection-block-upper-content {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		margin-bottom: 1em;

		.remote-collection-title {
			margin-top: 0;
			margin-bottom: 0.5em;

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		.thumbnail-wrapper {
			max-width: 100%;
		}
		
		.collection-info {
			min-width: 25%;
			flex-grow: 1;
			flex-basis: 25%;

			.collection-excerpt {

			}
		}

		&.img-left {
			flex-direction: row;

			.collection-info {
				margin-left: 1em;
			}
		}

		&.img-right {
			flex-direction: row-reverse;

			.collection-info {
				margin-right: 1em;
			}
		}

		&.img-center {
			flex-direction: column;
		}
	}
}