#wpm-edit-object {
    font-size: 1.2em;
    width: 100%;
}

#wpm-edit-object th, #wpm-edit-object td {
    padding: 5px;
}

#wpm-edit-object th {
    width: 10em;
    text-align: left;
    vertical-align: top;
}

.wpm-object input[type=text] {
    width: 100%;
    padding: 5px;
}

.wpm-object textarea {
    width: 100%;
    height: 10em;
    padding: 5px;
}

#wpm-object-fields-table textarea {
    height: 5em;
}

.wpm-object select {
    width: 100%;
}

#wpm-field-edit select {
    width: auto;
}

.empty-table-notification {
    background-color: rgb(229,229,229);
    font-style: italic;
    padding: 10px;
}

#wpm-object-bottom-buttons {
    margin: 5px;
}

td.wpm-object-field-label {
    width: 10em;
    word-wrap: normal;
}

.wpm-object-field-label label {
    width: auto;
}

tr.wpm-object-help-text td {
    background-color: #C9FFB8;
    
}

tr.wpm-quick-row-draft td {
    background-color: #F8FFB8;
}

tr.wpm-quick-row-pending td {
    background-color: #B8FFBE;
}

a.clickable {
    cursor: pointer;
}

a.wpm-image-delete {
    position: relative;
    left: -40px;
    top: -160px;
    font-size: 1.5em;
    cursor: pointer;
}

div#admin-object-gallery img {
    margin: 20px 0px 20px 0px;
    border: 10px solid #F1F1F1;
}


