.wpm-embedded-search-block {
	width: 100%;

	&.alignleft {
		float: left;
	}

	&.alignright {
		float: right;
	}

	&.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}